[2020-11-30 15:37] mazhiyi opened #1 "[1/N] Create dynalab cli framework and basic user login (as a demonstration)"
Basic command line interface framework
Implement user log in

[2020-11-30 15:39] mazhiyi opened #2 "[2/N] Dynalab init"
Base setup_config template
Create base handlers for tasks to be inherited
Implement the workflow

[2020-11-30 21:10] mazhiyi opened #4 "[3/N] Update dynalab setup_config"
Shall we do this via `dynalab-cli update --key value" or reuse the init command as `dynalab-cli init --update-fields <k1> <v1> <k2> <v2>`?

[2020-12-03 15:17] mazhiyi opened #6 "Dynalab logging system"
Add logger

[2020-12-03 15:18] mazhiyi opened #7 "[4/N] Dynalab-cli test-local"
- Check the setup_config includes all required keys and values. Check all the files exist.
- Check that handler file and all extra files are under the same root directory (requirement from torchserve archive, is this sufficient? Note we don’t use model file here.).
- Check validity of file size and ask to remove large files.
- Check that handler inherits from the correct task base handler.
- Run p

[2020-12-03 19:12] #1 closed, assigned to mazhiyi

[2020-12-03 19:12] #2 closed, assigned to mazhiyi

[2020-12-08 19:02] #7 closed, assigned to nobody

[2021-01-19 16:35] mazhiyi opened #14 "Dynalab README"
- How to use dynalab

- Should include a requirements file for dependencies
- Path for transformers config (where to put extra files)
- There are two ways to include dependencies

[2021-01-19 16:37] mazhiyi opened #15 "Validate response format in integrated test"
We need to figure out what dynabench is expecting for each task and check that a user uploaded model will return the correct response, this includes:
- correct keys
- correct value type

[2021-01-19 16:39] mazhiyi opened #16 "Dynalab base handler"
See if it's possible to write a base handler that applies to most cases, and if so provide a base handler for tasks.

Possible risks that may prevent us from developing a base handler, if they vary a lot with specific models:
- How to load model
- Loading vocabulary?
- How to parse the model prediction to our expected response?

[2021-01-20 16:54] mazhiyi opened #17 "fix init - torchserve extra-files flat structure"
The extra-files can come from any subfolder - it doesn't need to be under the same directory as `handler.py` when we run `torch-model-archiver`.

However, when torchserve starts to serve a model, the extra files will be moved into the same tmp directory as handler.py - an example `model_dir` at serving time will look like this
[code]

We shouldn't prevent user from adding extra files that does not

[2021-01-20 17:49] mazhiyi opened #18 "[optional] Allow SetupConfigHandler to operate outside root dir"
Nice feature to have. Current `validate_config` only works if it is called from the root dir. This is for it to be called more easily from build server in the future.

[2021-01-20 18:24] mazhiyi opened #21 "Progress bar for uploading to S3"
user facing

Can potentially use this but may need some updates on build server https://toolbelt.readthedocs.io/en/latest/uploading-data.html

[2021-01-20 18:28] #17 closed, assigned to mazhiyi

[2021-01-22 13:43] #4 closed, assigned to nobody

[2021-01-22 15:31] mazhiyi opened #23 "Run local test in the same process"
We currently do`subprocess.run(['python', 'test_handler.py'])` in local test (https://github.com/fairinternal/dynalab/blob/master/dynalab_cli/test.py#L59), and there are a couple of inconveniences, e.g.

1. User's `python` may be different from the python where dynalab is installed. @soniakris5398 noticed this issue when testing the code - she got module import error that `dynalab` was not found.

[2021-01-25 16:27] mazhiyi opened #25 "tar --exclude does not work as expected for multiple exclude files"
Noticed this issue when I was testing upload - when there are multiple files to exclude, the current code doesn't actually exclude anything https://github.com/fairinternal/dynalab/blob/master/dynalab_cli/upload.py#L36

(Also functionally we should exclude all other model folders + tmp folder of this model).

Possible solution:
create `exclude.txt` and use `--exclude-from` as suggested here https:/

[2021-01-25 16:52] mazhiyi opened #27 "[feat] Allow regular expression for exclude files"

[2021-02-16 16:07] #18 closed, assigned to nobody

[2021-02-24 22:57] mazhiyi opened #31 "Make local test support multiple test example by default"
This will change the data from a single json to a list of jsons, and change the functions in BaseTaskIO to run on multiple datasets.

As a warning, if any dataset uses character sets beyond UTF-8, they should provide such as example in the local test to avoid unexpected failures once deployed.

[2021-03-04 16:22] mazhiyi opened #32 "docker build timeout when libraries in requirements.txt or setup.py are too big"
Tried a requirements file with

[code]
and docker build failed due to timeout

Need to either fix dockerfile, or add some large libraries in the base dockerfile by default.

[2021-03-04 20:16] mazhiyi opened #34 "Add a check before dynalab-cli upload really uploads to prevent accidental submission"
Since submission cannot be stopped once upload is done.

[2021-03-05 11:43] #25 closed, assigned to nobody

[2021-03-05 11:46] #23 closed, assigned to nobody

[2021-03-05 11:46] #15 closed, assigned to nobody

[2021-03-05 12:05] mazhiyi opened #35 "[dynalab + dynabench] API to generate model response signature"
Blockers: there is no official my_secret before model is uploaded and written into our system, so local and cloud usage will be slightly different but the way the secret is accessed must be the same since handler cannot be changed; this needs to go into user handler so we have to make the API as blackbox as possible to use

Proposal:
- Locally upon model initialize, add a secret file in the .dynal

[2021-03-11 09:15] #32 closed, assigned to nobody

[2021-03-15 18:51] #16 closed, assigned to nobody

[2021-03-29 16:51] mazhiyi opened #39 "[optimization] [dynalab + dynabench] Remove checkpoint from the docker file"
Can remove all files that are carried in the torchserve archive to reduce the docker file size and hence reduce push time.

[2021-03-29 16:52] mazhiyi opened #40 "[BE][dynalab + dynabench]Use list in setup_config files"
Currently it's a string. Simply not very elegant.

[2021-04-01 11:03] #35 closed, assigned to nobody

[2021-04-07 10:19] mazhiyi opened #42 "dynalab init --rename"
Rename a model

[2021-04-07 10:19] mazhiyi opened #43 "docker image name cannot contain upper case letters"

[2021-04-07 17:01] #43 closed, assigned to nobody

[2021-04-08 10:07] #39 closed, assigned to nobody

[2021-04-12 10:55] #40 closed, assigned to nobody

[2021-04-20 17:46] #14 closed, assigned to nobody

[2021-04-29 14:15] mazhiyi opened #52 "What is in .git that prevents tarball from being parsed?"

[2021-04-30 15:55] mazhiyi opened #53 "In verify_response, prevent extra keys too"
Now we only verify the existence and correctness of expected keys. For security reason, we should also raise error if there is an unwanted key.

[2021-04-30 17:02] mazhiyi opened #54 "Add prob key to response"
organize it in a dictionary as {key: prob} to be crystal clear what we mean.

[2021-05-04 12:07] mazhiyi opened #56 "[be] use schema validation for verify_response"

[2021-05-05 09:06] #42 closed, assigned to nobody

[2021-05-05 15:48] mazhiyi opened #58 "Integrated test taking too much memory"
One potential issue can be that we ping the model server from inside the docker, and this can become increasingly an issue with multiple test data (i.e. multiple pings).

It would be nice if we can just set up docker run as a server, and ping it from the host.

[2021-05-05 15:51] mazhiyi opened #59 "Add some tips in how to read integrated test and torchserve log"
e.g. if serving model hangs, one can do "docker system prune" to clean some unused layers and release space, etc.

[2021-05-06 02:38] TristanThrush opened #60 "Double check to make sure that labels are unified with dynabench and the template handlers are ok"
In handler template file for hs, "context" and "hypothesis" are used.
"hate" and "nothate" are used for the hatespeech tests,  but we now want "hateful" and "not-hateful". For NLI, the desired labels are now "entailed", "neutral", "contradictory"

[2021-05-06 18:13] #54 closed, assigned to nobody

[2021-05-06 18:13] #53 closed, assigned to nobody

[2021-05-06 18:14] #31 closed, assigned to nobody

[2021-05-07 16:35] #60 closed, assigned to nobody

[2021-05-12 17:46] mazhiyi opened #67 "[open source] pull dockerfiles from github file and remove install by --editable requirement"

[2021-05-23 20:32] chauhang opened #73 "Installing on py37 gives error AttributeError: type object 'Callable' has no attribute '_abc_registry'"
On running `pip install -e .`  in python 3.7 environment getting error:

"AttributeError: type object 'Callable' has no attribute '_abc_registry'"

Workaround for this has been described at https://stackoverflow.com/questions/55833509/attributeerror-type-object-callable-has-no-attribute-abc-registry

Removing typing by running `pip uninstall typing` worked on Ubuntu 18.04 python 3.7 conda environm

[2021-05-25 09:01] mazhiyi commented on #73
Hi @chauhang, thanks for raising this! I don't have immediate access to a Ubuntu 18.04 python 3.7 conda environment, and I've tried the following as the closest proxy. Unfortunately I'm not able to reproduce this error on my side.

1. On a Ubuntu 20.04, I created a fresh conda env with python 3.7 and run `pip install -e .`. I successfully installed dynalab without seeing this error.

2. On a Ubunt

[2021-06-08 02:59] sbsyangjian opened #77 "Question about the dockerfile"
When I execute the cmd "dynalabcli test -n <name_of_your_model>". The docker build fails and I notice that the
WORKDIR /home/model-server/code
RUN if [ -f setup.py ] && [ ${setup} = True ]; then python -m pip install --no-cache-dir --force-reinstall -e code; fi.
The error reports can not find the code.
I think the "RUN if [ -f setup.py ] && [ ${setup} = True ]; then python -m pip install --no-cach

[2021-06-08 15:55] TristanThrush commented on #77
Hey @sbsyangjian, could you send me:
- the exact command that you are using
- what the terminal outputs
- your setup_config.json (this should be in .dynalab/<name of your model>)
- the ts_log.log (this should be in .dynalab/<name of your model>/tmp)

I think that the line of code you referenced is probably okay. If the error says something about not being able to import python modules, then make s

[2021-06-09 10:32] sbsyangjian commented on #77
First, we put our project files including setup.py in the directory Our_Project
We execute the cmd "cd Our_Project  && dynalabcli init -n t1"

Then we execute the STEP-4 of the tutorial "dynalab-cli test -n t1", the log print "Can not find the code ！"
Command:   dynalab-cli test -n t1
File: .dynalab/t1/setup_config.json
{
    "task": "flores_small1",
    "checkpoint": "upload_model/simple_model.pt

[2021-06-09 17:22] TristanThrush commented on #77
I think that the problem is that you need to do ```dynalab-cli init -n t1 --amend``` and modify setup_config.json in order to tell docker where your model code is.

```model_files``` should look something like ```["config.json", "pytorch_model.bin", "tokenizer_config.json", "spiece.model", "special_tokens_map.json"]```

[2021-06-10 02:16] sbsyangjian commented on #77
Besides the .pt model file, we also use the sentencepiece and dict.txt. But we notice:
**Extra model files 2: If you do not want to flatten the file structure (e.g. there may be too many dependencies involved), you do not need to add them to the dynalab config. First of all, notice there is a ROOTPATH variable available in your handler template. **
Therefore, we do not specifically set the **model

[2021-06-10 04:39] TristanThrush commented on #77
Thanks for letting me know that you are going down the ROOTPATH route; apologies for the misunderstanding! If you can get the docker to build and pass the test successfully by changing the project path, then you can always try uploading the model with this change. I'm not sure why it is necessary, though.

@mazhiyi @gwenzek let us know if you have advice about this.

[2021-06-10 05:49] sbsyangjian commented on #77
Thanks for answering my question! Another question is that the total size needs to be less than 2GB when we execute the command "dynalab-cli upload -n t1". Does it mean the size of the model.pt < 2GB which we should ensure? We can not upload the model.pt with larger size ? Is there a way to commit a larger model there (>2GB)?

[2021-06-10 15:59] gwenzek commented on #77
@sbsyangjian I don't think there is a hard limit at 2GB for uploading model. There is just a warning AFAIK, to prevent people accidentally submit big models.
If the upload fail with the big model can you share with us the error message and then try this branch: #79  ?
I also saw errors when trying to upload big models, but they where on the client side.

[2021-06-14 10:07] mazhiyi commented on #77
This is correct. Will fix it. Thanks!

2GB is a warning instead of a hard limit. Models bigger than 2GB are more likely to fail in deployment / evaluation.

[2021-06-15 09:51] #77 closed

[2021-06-18 17:48] maxbartolo opened #81 "Add a warning explaining that '_' is not allowed in filename (or general model naming convention guidelines)"

[2021-06-18 18:08] mazhiyi commented on #81
Thanks for raising this! For model naming, the warning is here and will be triggered at init time if violated: https://github.com/facebookresearch/dynalab/blob/master/dynalab_cli/utils.py#L149-L155

For filename, I'm not sure if there's any files involved in dynalab. Can you please explain?

[2021-06-18 18:14] mazhiyi commented on #81
One thing that may be missing is to check model name type at the rename command. For this I've added https://github.com/facebookresearch/dynalab/pull/82

[2021-06-18 18:17] #81 closed

[2021-06-18 18:17] mazhiyi commented on #81
The issue is automatically closed at PR merge. Please re-open if the issue is not resolved. Thanks!

[2021-06-18 22:53] maxbartolo commented on #21
+1 to this. Especially on slow connections, it can be a few hours until the model uploads and having a progress bar would be extremely useful.

[2021-06-18 23:42] maxbartolo opened #83 "Submission Limit Exceeded Warning: Provide Additional Details"
Submission Limit Exceeded Warning should state what the submission limit is, and when it will get reset

Also, minor bug report: the first time you try to upload a model when you've exceeded the submission limit, you get a warning such as `Failed to submit model electra-synqa due to submission limit exceeded`. If you try again, you will get `OverflowError: string longer than 2147483647 bytes`.

If

[2021-06-20 12:23] maxbartolo opened #85 "Improved Reporting of Model Upload Status"
The model upload process is pretty straightforward and user-friendly. That said, some feedback in addition to the status would be helpful. For example:

1. A "publishable" status indicating the status of all the steps remaining for the model to appear on the leaderboard e.g. fairness testing, robustness testing, etc
2. A per-dataset status (especially as the number of datasets scale, for example,

[2021-06-20 12:27] maxbartolo opened #86 "Non-Leaderboard Datasets Leaderboard"
The non-leaderboard datasets functionality is super useful. So useful in fact, that I think having a "non-leaderboard leaderboard" would be quite useful to compare how models compare even on these datasets.

It shouldn't be anywhere prominent but maybe somewhere accessed through the models page.

In addition, sorting the non-leaderboard datasets such that the order is identical for all models of t

[2021-06-21 10:05] mazhiyi commented on #83
Thanks for raising this Max!

This is a feature rather than a bug, since we keep the submitted `tar.gz` for people to inspect, and there is a prompt saying "you can inspect your submitted file at xxx.tar.gz" after submission.

If we add a prompt after that saying "if you intend to re-submit, you should delete the tar.gz", would that make things easier?

On additional details, how are we getting on

[2021-06-21 10:20] mazhiyi commented on #85
Noted. Thanks Max!
[internal] This issue should be moved to dynabench

[2021-06-21 10:45] maxbartolo commented on #83
Being able to inspect the submitted file is extremely useful, but I don't think its presence should affect re-submission. If so, we should have a check for the `.tar.gz` file and ask the user if they would like to remove it and proceed or cancel and review. It's almost worse in the case that the model size is too small to be caught by the `OverflowError` because then we could potentially be re-upl

[2021-06-21 18:39] TristanThrush commented on #83
https://github.com/facebookresearch/dynabench/pull/585

This should make throttling configurable for now

[2021-06-23 06:59] yingwaner opened #87 "The status of the model is "takendown""
Hi,

I am a participant of the Flores task.

I passed the local and integrated tests following the model submission workflow on GitHub and submitted my model. Everything went smoothly, and I received a notification email, which said "Your model track2 has been successfully deployed. You can find and publish the model at https://dynabench.org/models/105."

but when I tried to check my results on th

[2021-06-23 10:06] mazhiyi commented on #87
@gwenzek can you please look into this?

[2021-06-23 12:03] gwenzek commented on #87
Hi @yingwaner here is the stack trace from your model:

[code]

So it seems that you have an error in your handler code that deserialize the data. Looking at the line numbers it also seems that you're not using the [suggested handler](https://github.com/facebookresearch/flores/blob/master/dynalab/handler.py)
Could you start from that one ?
Note that this handler can be run with `python handler.py`

[2021-06-23 16:55] #83 closed

[2021-06-23 16:57] mazhiyi opened #89 "Better management of submitted files"
Separated from #83. Specifically

"Being able to inspect the submitted file is extremely useful, but I don't think its presence should affect re-submission. If so, we should have a check for the .tar.gz file and ask the user if they would like to remove it and proceed or cancel and review. It's almost worse in the case that the model size is too small to be caught by the OverflowError because then

[2021-06-23 16:58] mazhiyi commented on #83
For easier tracking, I've moved the feature request for better managing submitted files into a new issue #89, and closed this one as throttling error message.

[2021-06-26 11:43] yingwaner commented on #87
I'm not not using the suggested handler, because this is our own system, not Fairseq. I complete handle.py with the suggested template.
Can you report in more detail the cause of the error? I passed all the tests, except for the evaluation of the website.
I need more details about the error to debug.

[2021-06-27 04:54] sbsyangjian opened #90 "Taken Down in the Dynabench"
Hi,
I passed the local and integrated tests following the model submission workflow on GitHub and submitted my model. But I notice that "Your model t1 has been successfully deployed. You can find and publish the model at https://dynabench.org/models/119.
"。 But the status shows that "Taken Down".  Would you mind sending the detailed log information to me for debugging our code? Thanks very much !

[2021-06-27 05:48] sbsyangjian opened #91 "Large Size Model > 2GB"
When I upload a large model by command "dynalab-cli upload -n t1", I met an error as below:

Config file validated
Tarballing the project directory...
Uploading file to S3...
Traceback (most recent call last):
  File "/miniconda3/envs/amlt8/bin/dynalab-cli", line 33, in <module>
    sys.exit(load_entry_point('dynalab', 'console_scripts', 'dynalab-cli')())
  File "/dynalab/dynalab_cli/main.py", lin

[2021-06-27 14:03] LesterLian commented on #91
Have you removed the old tar.gz file? I experienced the same problem even with a model smaller than 2GB. Removing that file fixed the problem.

[2021-06-27 14:18] sbsyangjian commented on #91
Thanks ! I tried removing the old tar.gz file and can successfully upload the model file < 2GB. But how can we upload the model which is larger than the 2GB ? @LesterLian

[2021-06-27 14:30] LesterLian commented on #87
Hi @gwenzek, can you please also look at my [submission](https://www.dynabench.org/models/122)?

It was marked "takendown" though I used the [pretrained model](https://dl.fbaipublicfiles.com/flores101/pretrained_models/flores101_mm100_175M.tar.gz), handler.py and other files suggested by the [Flores repo](https://github.com/facebookresearch/flores/tree/master/dynalab), and that I passed the local

[2021-06-28 10:17] mazhiyi commented on #91
@sbsyangjian Did you still get the error for >2GB files after removing the `tar.gz` file? Can you please attach the error message? Thanks!

[2021-06-28 14:02] gwenzek commented on #90
Hi, I see that you uploaded a new model in the meantime that seems to work correctly is that correct ?

Here are the log for your older model.
It seems related to a mismatch in the version of Hydra you put in your `requirements.txt` and the version expected by the fairseq version you're using.

 ```
--
2021-06-26 17:13:12,097 [INFO ] W-9000-archive.ts1624724506-t1_1.0-stdout MODEL_LOG - <fairseq.d

[2021-06-28 14:08] gwenzek opened #93 "Help with submission"
Hi @gwenzek, can you please also look at my [submission](https://www.dynabench.org/models/122)?

It was marked "takendown" though I used the [pretrained model](https://dl.fbaipublicfiles.com/flores101/pretrained_models/flores101_mm100_175M.tar.gz), handler.py and other files suggested by the [Flores repo](https://github.com/facebookresearch/flores/tree/master/dynalab), and that I passed the local

[2021-06-28 14:11] gwenzek commented on #93
@LesterLian can you confirm the name of your model ? Is it "example" ?

I think there is an  issue with the "model_generation.json". It seems to not be uploaded to dynabench.
Can you share with me the content of `.dynalab/*/setup_config.json` (where * is the name of your model) ?

[code]

[2021-06-28 14:17] gwenzek commented on #87
There is a significant difference between the default handler suggested by dynabench and the handler [recommended for Flores](https://github.com/facebookresearch/flores/tree/master/dynalab) please look at it and in particular at the deserialization code. It also comes with extra tests for the serialization/deserialization.
You don't need to use fairseq but you need to parse the input correctly.
If

[2021-06-28 16:39] sbsyangjian commented on #91
Hi, when I removing the old tar.gz file, I can upload the model < 2GB. But when I try to submit the M2M 615M (6GB) after removing the old tar.gz file, I also have the following error:
Ensure No *.tar.gz file in the project root dir:
ls *.tar.gz
ls: cannot access '*.tar.gz': No such file or directory

I execute "dynalab-cli upload -n t1" and still get the similar error as below:
Config file validat

[2021-06-28 16:41] mazhiyi commented on #91
Thanks @sbsyangjian! It should be fixed by this https://github.com/facebookresearch/dynalab/pull/92

[2021-06-28 18:08] #21 closed

[2021-06-28 18:08] #89 closed

[2021-06-28 18:13] mazhiyi commented on #91
Please pull the latest dynalab master and this issue should be resolved. @sbsyangjian Please reopen if there are still problems. Thanks!

[2021-06-28 18:13] mazhiyi commented on #83
@maxbartolo Please pull the latest master and the the submission management should be ready.

[2021-06-28 18:15] mazhiyi commented on #52
Resolved by #92

[2021-06-28 18:15] #52 closed

[2021-06-29 03:42] sbsyangjian commented on #91
@mazhiyi
Hi I reinstall the dynalab and met a error as below:

/miniconda3/envs/dynalab/bin/dynalab-cli upload -n t1

Config file validated
Tarballing the project directory...
Uploading files to S3. For large submissions, the progress bar may hang a while even after uploading reaches 100%. Please do not kill it...
Uploading: 100%|████████████████████████████████████████████████████████████████████

[2021-06-29 07:49] sbsyangjian commented on #90
Hi, after I fixed the environment setup, I successfully submit the two models "https://dynabench.org/models/121" (Both have scores on devtest and dev sets.) and "https://dynabench.org/models/123" (Only has BLEU points on the devtest set). But I find that "https://dynabench.org/models/123" shows "taken down" but has BLEU points on devtest set and failed on the dev set. Could you please further help

[2021-06-29 10:05] mazhiyi commented on #91
@sbsyangjian Thanks for pointing this out. @TristanThrush Can you please look into the timeout error?

[2021-06-29 10:07] mazhiyi opened #94 "Large model upload timeout error"
from https://github.com/facebookresearch/dynalab/issues/91

Error log:
[code]
But I find that I have already successfully submitted the task even with this error, and can find the task in the dynabench. Can this error be ignored?

[2021-06-29 10:08] mazhiyi commented on #91
Moved timeout discussion to https://github.com/facebookresearch/dynalab/issues/94 and close this one.

[2021-06-29 10:08] #91 closed

[2021-06-29 10:33] mazhiyi commented on #94
Can confirm that the model upload was successful. Evaluations also happened but then failed due to invocation timeout (cc @gwenzek)

[2021-06-29 11:13] gwenzek commented on #90
hmm it seems you are pushing a bit the limit of the system, we may need to revise some constraints.
With batch_size = 128 you are running out of memory, but with batch_size = 64 you are hitting a timeout.

I'll increase the timeout in the meantime, but we will need to redeploy the evaluation servers and I don't have access to it. So it won't happen before tomorrow.

In the meantime can you try an

[2021-06-29 11:20] gwenzek commented on #94
the invocation timeout issue is tracked in https://github.com/facebookresearch/dynalab/issues/90#issuecomment-870503313

[2021-06-29 14:21] LesterLian commented on #93
@gwenzek Thank you for your reply.

Yes. All my models are called "example", sorry about that. I'll try to name them differently.

I didn't save that submission, so I submit a new one [here](https://www.dynabench.org/models/130). It's also marked "takedown". I checked the contents in the `example.tar.gz` and "model_generation.json" is there. Please help me check if it throws the same error.
[code]

[2021-06-30 05:04] sbsyangjian commented on #90
@gwenzek Hi, I try to set the batchsize=96 but also find "Taken Down (https://dynabench.org/models/134)".  Could you please help check the detailed log why the task failed? Thanks very much!

[2021-06-30 09:43] yingwaner commented on #87
I completed the handler.py of our own model by imitating the handler [recommended for Flores](https://github.com/facebookresearch/flores/tree/master/dynalab), and it passed local and integrated  test and the python handler.py test.
The model is https://www.dynabench.org/models/136
When I uploaded the model, the status was "created," and after an hour, it became "takendown." Could you please look a

[2021-06-30 12:31] gwenzek commented on #93
My `setup_config.json` looks like this:

[code]

Can you add the files manually to `model_files` ?
Did you run `dynalab-cli test -n example` ? this should imitate how we setup the docker instance in Dynabench and copy only the model and its dependency to the image.

[2021-06-30 13:07] gwenzek commented on #90
I did not see a model with batch size of 96, only 64 and 128. And it seems that your last model with batchsize of 128 succeeded.
The timeout limit is currently the default limit for the tool we are using of 10 minutes, but I've increased it to 20 minutes per request (not live yet). A request contains ~3000 sentences, so you need to process ~3 sentences per second.

[2021-07-02 07:18] gwenzek commented on #87
Your last model is timing out. The current timeout is 10 minutes, I've increased it to 20. You aren't the only one seeing this.
Since most of the batches goes through, I think doubling the timeout should be fine.

The server have been redeployed, you can try re-uploading your model.
Thanks for your patience.

[2021-07-02 07:19] gwenzek commented on #90
The timeout increase is live, you can try re-upload your model. Thanks for your patience.

[2021-07-02 17:34] LesterLian commented on #93
Adding the files to `model_files` did the trick. Thank you. Essentially, we should include all files other than `handler.py`, `requirements.txt` and the model checkpoint in the config file, correct? What about internet connectivity? For example, are we able to download models from huggingface?

I guess I should really try this. Sadly, Google Colab doesn't support docker.

Thank you for all your he

[2021-07-04 12:46] yingwaner commented on #87
Thank you very much for your reply! You have solved my problem, and I can see the results of the submitted model on the website.

[2021-07-04 12:46] #87 closed

[2021-07-05 12:47] sbsyangjian commented on #90
Thanks very much @gwenzek ! I have successfully upload the model. Moreover, I want to enable the same translation direction in one minibatch (Minibatch=64) (Such as en->fr in one batch Not en->fr cs->de in one batch). Would you mind giving some suggestions help us realize this goal?

[2021-07-05 14:56] gwenzek commented on #90
so the samples arrive grouped by language IIRC, first all the en->de then all the en->fr, ...
You could modify the for loop of `handle` in `handler.py` to also make a mini batch when the language change.
Notably this line: https://github.com/gwenzek/flores/blob/e0b63c00e6ceea2fad61f2e15c1ae0a24c86b4e4/dynalab/handler.py#L270-L270
the condition should read something like `if last_lang == minibatch_

[2021-07-06 18:53] mazhiyi commented on #73
Closing this for inactivity. Please reopen if the issue is not resolved. Thanks!

[2021-07-06 18:54] #73 closed

[2021-07-07 03:21] sbsyangjian commented on #90
Thanks very much! I also tried submitting the model to the large track (https://dynabench.org/models/157). But it shows "Taken Down". Could please help me check the reason? What is the detailed time limit of the large track (nearly 10000 translation directions)?

[2021-07-13 09:59] gwenzek commented on #93
There is no internet connectivity.
If you need a model from HuggingFace you'll need to download it locally first then upload it with you submission.

[2021-07-21 05:55] jcblaisecruz02 opened #96 "Submission shows "Takendown" status"
Hi!

We're submitting for the FLORES Small Track 2 and after configuring the handler to work for our model, both the local and integrated tests passed. Model upload finished without any problems as well, but when the model finished processing on dynabench, it immediately gave us a "takendown" status.

Here's some details on our submission:
* Submission name: wmt21-srph
* Model number: 236
* System

[2021-07-22 16:51] gwenzek commented on #90
sorry, the large track is currently not working. I should have a fix for next week.

[2021-07-22 17:08] gwenzek commented on #96
Hi,
I'm seeing the following stack trace in the logs:

[code]

Since it's a type error, I think this should be visible by running the tests at the bottom of the reference handler:
https://github.com/gwenzek/flores/blob/master/dynalab/handler.py

I think you should start from the above handler and try to put your model specific code inside the `Handler` class.

[2021-07-23 07:07] jcblaisecruz02 commented on #96
Ah, thanks for the catch. This handler looks very different from the template in the main Dynalab repo. I'll follow this one instead. Thanks for the quick response!

[2021-07-24 22:14] BaohaoLiao opened #97 "Translate with ensemble models instead of one model"
Hi,
I take part in the wmt21 flores competition. I wonder is it possible for us to use an ensemble of multiple checkpoints instead of the best one? It is quite common for translation task. If yes, how could I do that? I use this [handler](https://github.com/facebookresearch/flores/blob/master/dynalab/handler.py) .  When I change line 287 to
`manifest = {"model": {"serializedFile": "model1.pt:model

[2021-07-26 00:00] BaohaoLiao opened #98 "Showing "takendown" for my submission of flores task"
Hi,

I submitted a model (615M) (https://dynabench.org/models/247) to dynabench and it showed "takendown", could you check it for me? By the way, do you plan to improve dynabench so that it can output the error information?

Thank you in advance.

[2021-07-26 08:05] yingwaner commented on #97
Are we allowed to do model ensemble?

[2021-07-26 14:03] yingwaner commented on #98
Hi, my submiision 249(https://dynabench.org/models/249) is also "takendown", could you check it for me? Thank you in advance.

[2021-07-26 14:50] BaohaoLiao commented on #98
Hi, I change the batch size and it works. You could try.

[2021-07-26 15:16] BaohaoLiao opened #99 "Different model sizes between pretrained model and finetuned model"
Hi,

when I check the model size of my finetuned model and your provided pretrained model, I notice they are different.

There are two major dicts in the checkpoint, i.e. "model" and "last_optimizer_state". If both are in fp32, the size of "last_optimizer_state" should be roughly as twice big as "model", since there are first and second momentums in the adam optimizer.
For the pretrained model you

[2021-07-26 20:08] BaohaoLiao opened #100 "The shown average score is different with the manual calculation of mean of individual scores"
Hi,

I found a bug of the leaderboard score. When we submit a model, we can get the average score and the individual scores for each language pair. Even concerning the left digits after the second decimal place, they are not matched. For my model (https://dynabench.org/models/250), the shown average score for "Leaderboard Datasets" is 27.59. However, I calculate the average by myself, it should be

[2021-07-27 20:39] guzmanhe commented on #98
Can you look into: https://github.com/facebookresearch/dynalab/issues/96 and see if it addresses your problem?

[2021-07-27 20:50] huihuifan commented on #99
I believe the open-sourced models are trained with a much older version of fairseq, perhaps what is stored in the optimizer state is different?

[2021-07-27 21:48] BaohaoLiao commented on #99
Even without thinking about the optimizer state, the sizes of the finetuned and pretrained models are not comparable. For M2M_175M, the provided model in the checkpoint is 336M (deleting the optimizer state). And my finetuned one is in 1.7G in fp32 and about 800M in fp16. I also give the data for 615M above, 1.2G vs 2.2G.

[2021-07-27 21:54] BaohaoLiao commented on #98
I solved this issue by decreasing the batch size. So I think it is caused by GPU memory limitation.

[2021-07-27 21:54] #98 closed

[2021-07-28 16:09] BaohaoLiao opened #101 "The same model failed today, but worked before"
Hi,

the submission system is much informed than before, since it returns the error by email. However, it also confused me for these non-detailed information.

I obtain "Error in docker build"  for my submission https://dynabench.org/models/268 and "Exception in fetching model folder and loading config" for my submission https://dynabench.org/models/267. However, both models worked before, like ht

[2021-07-28 16:14] mazhiyi commented on #101
Sounds like a bug on our side. Will look into it.

[2021-07-28 16:33] mazhiyi commented on #101
@BaohaoLiao can you please the ids of the models that failed? I'll resubmit the build jobs for you.

[2021-07-28 16:39] BaohaoLiao commented on #101
@mazhiyi you can help me to resubmit https://dynabench.org/models/267, the name is task2-615m. Thank you very much

[2021-07-28 16:46] mazhiyi commented on #101
@BaohaoLiao 267 is being rebuilt now. I'll close this issue. Please reopen if the problem remains. Thanks!

[2021-07-28 16:46] #101 closed

[2021-07-28 17:30] mazhiyi commented on #101
Underlying issue is torch-model-archiver failed to delete tmp files. Relevant PR https://github.com/pytorch/serve/pull/1016

[2021-07-29 04:53] yingwaner opened #102 "Failed to submit large model"
Hi, I use the command `dynalab-cli upload -n flores-ft-v3` to upload my submission but it failed.

[code]

This submission is 263 (https://dynabench.org/models/263) and the status is failed (The model could not be deployed.)

I have checked the related issue, but none of them can solve my problem. My code is the latest version. Could you check it for me?

Thank you in advance.

[2021-07-29 09:53] mazhiyi commented on #94
For 504 Server Error: Gateway Time-out. This is usually a false positive. If the model status is shown as "uploaded"/"processing"/"created"/"deployed" on your model page, that means it was successfully uploaded.

[2021-07-29 09:54] mazhiyi commented on #102
@yingwaner Thanks for flagging this. We are aware of the timeout error message, which turns out to be false positive in most cases (I've added more comments here https://github.com/facebookresearch/dynalab/issues/94), and I can confirm that the model was successfully uploaded.

The failure to deployment was actually because of another issue on our backend (https://github.com/facebookresearch/dynal

[2021-07-29 12:47] gwenzek commented on #100
Thanks for reporting,
could you share the screenshot of the result page ? I don't have access to it until you make your model public.

[2021-07-29 13:17] BaohaoLiao commented on #100
@gwenzek I have published https://dynabench.org/models/250, the name is task2-615m (baohao).

[2021-07-29 13:31] gwenzek commented on #99
I'm not sure about this. Are you sure about the config you put for fine-tuning the model ? Are the architecture/dimensions matching between the pretrained model and what you specified ?
But this seems to be a Fairseq issue, nothing related to Dynalab.

[2021-07-29 13:43] BaohaoLiao commented on #99
The arch matched, otherwise I can not load the pretrained model.  I will close this and ask it on fairseq.

[2021-07-29 13:43] #99 closed

[2021-07-29 15:07] yingwaner commented on #102
thank you very much for your help! I have seen this submission successfully deployed.

[2021-07-29 15:07] #102 closed

[2021-07-30 12:43] gwenzek commented on #97
Yes, model ensemble are allowed, but you have the same memory/latency constraint than other models.
You'll need to adapt the `handler.py` code for several models, as well as the `setup_config.json` to list all model files.

[2021-07-30 12:54] BaohaoLiao commented on #97
Thanks, I will try it.

[2021-07-30 12:54] #97 closed

[2021-07-30 12:57] BaohaoLiao commented on #100
Hi @gwenzek, I find all models from my submissions have the same problem. Have you found the reason?

[2021-07-30 19:55] gwenzek commented on #90
Hi, I think I think I've fixed the issues with large track. The large track was hitting several limits on Dynabench design, and I had to push a few walls :-) I think your two models for the large track have started their evaluation, I will keep you updated.

[2021-08-02 11:02] gwenzek commented on #90
Your model failed, it seems that your model is missing language "zt".
I'm not sure what this code correspond to, since it's not own of the codes used by Flores.

Traceback (most recent call last):
File "/usr/local/lib/python3.6/dist-packages/ts/model_service_worker.py", line 182, in <module>
     worker.run_server()
File "/usr/local/lib/python3.6/dist-packages/ts/model_service_worker.py", line 154

[2021-08-03 01:21] #96 closed

[2021-08-03 01:27] jcblaisecruz02 opened #103 "Large model not evaluating on the devtest set"
Hi! We're having trouble sending in our large model for the contest.

When we send in our base model (Model 278) it evaluated correctly on both the dev set and the devtest set. However, when we send in our large model (Model 283) with the exact same handler as the base model, it only evaluated on the dev set, but not the devtest set. I was using batch size 128 for both of these submissions.

I tri

[2021-08-03 08:46] dannigt commented on #103
Hi, we faced a similar issue, where our large model only shows results on the dev set (model 192). Reducing the batch size did not help (model 213). Would be great if we could get some further information on how to resolve this. Thanks!

[2021-08-03 09:51] yingwaner commented on #103
Hi, can we get more information about running restrictions? For example, GPU memory, maximum running time, and so on. Thanks！

[2021-08-03 14:43] gwenzek commented on #103
First could you share your model name as well as your model ids ? it's easier for me to look for them in the backend

this model (finetune-saptarashmi) actually did not run on the devtest, only on dev. I think it's because the name of the model is too long. There seems to be a size limit for job name on AWS and we are reaching it ...
Can you retry with something short ? srph12 or something.

This

[2021-08-03 15:15] gwenzek commented on #103
@dannigt

Model 192 (mm100bigtrimmedtune) seems to also have the "too long name issue"
Model 213 (ts1626271321-mm100bigtrimmedtunesmallbatch) even longer name, only evaluated on dev.

[2021-08-03 15:23] gwenzek commented on #103
the restrictions are a the one of a ml.p2.xlarge instance, 20 minutes to answer to each batch of 1800 sentences, and apparently a model name of at most 14 characters.

[2021-08-03 15:29] gwenzek commented on #100
Hi @BaohaoLiao the score that you're seeing is IIUC the "corpus BLEU" which would be the BLEU across all the concatenated dataset. This is not the score we intended to show in the leaderboard, so thanks for catching this.
I'll fix that later today.

[2021-08-03 15:48] gwenzek commented on #100
Hi @BaohaoLiao , I just fixed it :-) The scores are the same that what you computed now:

<img width="782" alt="image" src="https://user-images.githubusercontent.com/5920036/128046019-7eb6b211-8511-4989-a773-4c471dd52294.png">

[2021-08-03 15:50] gwenzek commented on #103
And I'm very sorry to notice this "too long model name" issue only now. Hope you didn't lose to much time.
I'm also looking if it's possible to rerun the missing evaluation on your behalf, without you having to resubmit the model with a shorter name.

[2021-08-03 15:50] #100 closed

[2021-08-03 15:51] mazhiyi commented on #103
@gwenzek Resubmitting the missing jobs will mitigate this issue immediately in the current design, before an updated design is landed.

[2021-08-04 06:35] jcblaisecruz02 commented on #103
Hi! We resubmitted our large model (Model 300) with a much shorter name (srph-large) now, but it doesn't seem to be evaluating on anything. The status says "Created" though. Is this delay because of the queue of models being evaluated or is there an error that we're not seeing? Thanks for the quick response btw!

[2021-08-04 07:35] dannigt commented on #103
We also tried a shorter name (model 299; dlmbtt) but also don't see the results. Could you take a look again? Thanks a lot!

[2021-08-04 15:53] gwenzek commented on #103
@dannigt the model dlmbtt seems to have a small misconfiguration. It's missing the `model_generation.json`. Can you check that the file is mentionned in the `setup_config.json` file ? (you can see it by `dynalab init --amend` IIRC).

@jcblaisecruz02 the inference seems to have correctly run. I'm investigating on why you don't see the results.

[2021-08-04 16:40] gwenzek commented on #103
@jcblaisecruz02 the scores should be visible to you now, I'm not sure why they weren't before

[2021-08-04 21:49] dannigt commented on #103
Thanks a lot for catching this! We have submitted again with `model_generation.json`.
Could you kindly take a look again at model 303 (dlmbtt)? We still cannot see results after the submission. Thanks!

[2021-08-05 06:45] BaohaoLiao commented on #103
This also happens to my model 301 and 302. It seems the system requires more time to create recently. The models have been submitted over 14 hours and it is still in "No data available, the model is still evaluating".

[2021-08-05 10:00] gwenzek commented on #103
@BaohaoLiao thanks for reporting. This was due to the fact we are starting to see more submissions on the Flores101 full track. Those submissions are taking significantely longer to evaluate and where filling up the evaluation queue.
I've split up the queues, with one queue for small tracks and one queue for the full track. The small track models have all been evaluated now, and you shouldn't see

[2021-08-05 10:07] BaohaoLiao commented on #103
Thank you for your work.

[2021-08-05 15:54] sbsyangjian commented on #90
@gwenzek , thanks for your efforts! We have trying uploading base and large models for FLORES-FULL track (https://www.dynabench.org/models/312 and https://www.dynabench.org/models/315). Could you please help me check whether these two submissions running as expected？ How long can we get the final scores of the FLORES-FULL track (2 days or 3 days)?

[2021-08-05 16:04] dannigt opened #105 "Submit models with own extensions to fairseq"
Hi,

For Flores, we trained some models with our own extensions to fairseq. They were implemented in a fork of fairseq under the examples folder ([example](https://github.com/dannigt/fairseq/tree/master/examples/adapter_transformer/adapter_transformer_src)).

Could you advise on the best way to submit these models?

With the deadline approaching, I thought it might be better to get some suggestion

[2021-08-05 16:16] mazhiyi commented on #105
@dannigt There are several way to do this
1. You can pull the branch locally and in your requirements file, write `-e ./fairseq` (Note you need to specify the relative path in order for pip to search the local path)
2. option 1 is also doable if you specify the github path `git+git://github.com/`. Editable probably won't work here.
3. If all your code is actually inside fairseq (i.e. you are going

[2021-08-05 16:19] dannigt commented on #103
@gwenzek Sorry for asking again: would you be able to check model 310 (dlmbtts)? It was successfully deployed 4.5 hours ago. I see results for model 309 has been public for a while, so just to check if something went wrong with our model. Thanks a lot in advance!

[2021-08-05 19:46] #105 closed

[2021-08-06 09:17] haoyanghua opened #106 "Taken down for full track issue"
We have trying uploading base and large models for FLORES-FULL track (https://www.dynabench.org/models/312 and https://www.dynabench.org/models/315). We find that these two jobs have shown "taken down" condition. Both settings passed in the small track, but took down in the large track. Therefore, we have to change to a setting with a beam of 2(https://dynabench.org/models/321). Could you please h

[2021-08-06 10:35] BaohaoLiao opened #107 "Successfully evaluated on dev set but failed on devtest set"
Hi,

I submit a model to small track 2 (https://www.dynabench.org/models/320). The model is successfully evaluated on dev set, but failed on devtest set. I.e. I can see the score for dev set but no score for devtest set. And the model is in "takendown".  What could be the reason?

[2021-08-06 16:41] gwenzek commented on #103
@dannigt Model 310 did crash: `ModuleNotFoundError: No module named 'fairseq'`

Can you share with me the `setup_config.json` of the submission ? The `requirements` key should be set to true, and you should have a requirements.txt file also.

[2021-08-06 17:07] gwenzek commented on #107
I think your model is a bit too slow.
It passed on the dev set but failed on the devtest. Can you try again with a larger batch size ? You are currently using 32.

[2021-08-06 22:18] dannigt commented on #103
@gwenzek Thank you so much for checking! Indeed, in that submission I accidentally left the requirements key to false.
Could you further take a look why model 317 and 332 (both named `dlmbttss`) are not showing results?
Sorry for the frequent questions - we weren't able to run the integration tests because of insufficient docker support on our server.

[2021-08-09 00:38] BaohaoLiao commented on #107
I increase the batch size and it works. Thank you very much.

[2021-08-09 00:38] #107 closed

[2021-08-09 08:50] BaohaoLiao commented on #106
Normally how long does it take for a successfully created for a full track?

[2021-08-09 12:13] BaohaoLiao opened #108 "Questions about the second and final submission period"
Hi,

it seems today the final submission period will start. I have some questions about it:
1) Will you close the first submission? I hope it can be still open even after the final submission. Before the system paper submission, we still want to do some ablation experiments to show the effectiveness of our method.
2) How could we make the final submission?

[2021-08-10 22:26] BaohaoLiao opened #109 "The same model works successfully for small tracks but takendown for the full track"
Hi,

I submit the same model (https://www.dynabench.org/models/379) to both small tracks and the full track to check whether there are some wrong settings. And it works for two small track but failed for the full track. Could you check this for me?

By the way, I even decrease the beam size to 2 and increase the batch size to 64 for the full track.

[2021-08-12 04:12] nishantgupta08 opened #110 "getting no model_files path specified issue"
Folder . already initialized for model 'model1'. Overwrite? [Y/n] Y
Initializing . for dynalab model 'model1'...
Please choose a valid task name from one of [nli, qa, sentiment, hs, vqa, flores_small1, flores_small2, flores_full]: flores_small1
Checkpoint file ./checkpoint.pt not a valid path. Please re-specify path to checkpoint file inside the root dir: /home/azureuser/research_experiments/flore

[2021-08-13 08:01] vishrav commented on #110
Hi @nishantgupta08 . Can you confirm if your setup_config.json matches https://github.com/facebookresearch/flores/blob/master/dynalab/setup_config.json ?

[2021-08-13 14:32] bpopeters opened #111 "Test failing after step 25/25"
Hello,

I've previously been able to get models to pass tests, but tried again a few hours ago with a new model and am getting a weird (lack of) result from `dynalab-cli test`: the last few lines of output look like this:

[code]

It's been hanging like this for a couple of hours. I tried running `docker run adapter-ensemble` and got this:

[code]

The last line then duplicates over and over the l

[2021-08-13 21:53] nishantgupta08 commented on #110
@vishrav  Hey yeah file is same .

[2021-08-15 15:01] BaohaoLiao commented on #109
This was caused by time limit or memory limit.

[2021-08-15 15:01] #109 closed

[2021-09-28 17:57] walterwang opened #113 "Could an example task.json be provided"
For TaskIO, I was wondering what should the task.json file look like for the existing tasks. Thanks

[2021-09-28 21:44] TristanThrush commented on #113
The task.json is not something that Dynalab users have to define themselves. It is provided by the task owner and loaded by Dynalab automatically. For any dynabench task, you should be able to inspect the task IO by following this README: https://github.com/facebookresearch/dynalab/blob/37b61e54dcbf43f76a447b290c44c1d5244ca1a7/dynalab/tasks/README.md

If you want even more info about task IO, feel

[2021-10-10 05:05] kokrui opened #114 "`init.py` fails on Windows if `checkpoint.pt` or `handler.py` is in root path"
Example:
![image](https://user-images.githubusercontent.com/29654756/136683064-a1afd9c9-8cc2-4300-a720-87455e314948.png)
This happens because in `get_path_inside_rootdir`, only forward slash is `lstrip`-ped (to remove any residual path separator), while a Windows path that is processed by the function would use a backslash as the path separator.

https://github.com/facebookresearch/dynalab/blob/37

[2021-10-13 20:01] ktirumalafb opened #116 "`KeyError` when calling `get_task_submission_limit()`"
When a user uploads a model and receives a `429`, the error handling errors out due to a `KeyError`

https://github.com/facebookresearch/dynalab/blob/37b61e54dcbf43f76a447b290c44c1d5244ca1a7/dynalab_cli/utils.py#L129

since `task["settings_json"]` does not exist anymore

[2021-10-14 08:43] #116 closed

[2021-11-16 13:52] Ishita-0112 opened #119 "Adding a new example handler preferably NLI"
Addition of logic for the following functions in `handler.py`
- [ ] Preprocess
- [ ] Postprocess
- [ ] Inference

[2021-11-22 17:28] TristanThrush opened #120 "Link the task IO documentation from the main README if not done already"

[2021-12-05 23:33] fzchriha opened #123 "Add BERT style NLI example handler"
Addition of logic for the following functions in handler.py

- [ ] Preprocess

- [ ] Postprocess

- [ ]  Inference

- [ ] Add README

- [ ] Add initializer file

[2021-12-08 21:56] TristanThrush opened #125 "tqdm is not installed with the pip install of dynalab"
@EntilZha

[2021-12-09 23:23] #125 closed

[2022-04-25 05:13] #114 closed

[2022-04-25 06:54] seinecle opened #131 "submitting a different kind of model for sentiment analysis"
Hi!
I have developed Umigon, a lexicon-based model for sentiment analysis on social media texts. It is open sourced [there](https://github.com/seinecle/umigon-core). It [ranked best out of 24 solutions on 3-class sentiment categorization, a while ago](https://epjdatascience.springeropen.com/articles/10.1140/epjds/s13688-016-0085-1/tables/13). I have refined it over the years so I'd expect its accu